
.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

.flashes {
	list-style-type: none;
	margin-left: 0;
}

.block {
	height: 100px;
	width: 100px;
	text-align: center;
}

.game-table td {
	text-align: center;
	border: dashed;
	height: 50px;
	width: 50px;
}

.game-table {
	height: 300px;
	width: 300px;
}