<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Player</th>
            <th>Time</th>
            <th>Language</th>
            <th>X</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="request in requests">
            <td>{{ request.username }}</td>
            <td>{{ request.move_time }} sec</td>
            <td><span class="flag flag-{{ request.language }}"></span></td>
            <td ng-hide="request.my==true">
                <p class="btn btn-success"
                   ng-click="applyRequest(request.user)">Apply</p>
            </td>
            <td ng-show="request.my==true">
                <p class="btn btn-danger" ng-click="cencelRequest()">Cencel</p>
            </td>
        </tbody>
    </table>
    <div class="form-inline">
        <button class="btn btn-success" ng-disabled="myRequest"
                ng-click="addRequest()">Add me!
        </button>
        <select class="form-control" title="Move time"
                ng-model="moveTime">
            <option value="" selected disabled>{{ timeValues[0] }}</option>
            <option ng-repeat="opt in timeValues">{{ opt }}</option>
        </select>
        <select class="form-control" title="Move time"
                ng-model="language">
            <option ng-repeat="lan in languages">{{ lan }}<span
                    class="flag flag-{{ lan }}"></span></option>
        </select>
        <button class="btn btn-success" ng-click="getRequests()">refresh</button>
    </div>
</div>
