<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Player</th>
            <th>Time</th>
            <th>X</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="requests.length > 1">
            <td>{{ requests[0].user }}</td>
            <td>{{ requests[0].move_time }}</td>
            <td><p class="btn btn-danger" ng-click="cencelRequest()">Cencel</p></td>
        </tr>
        <tr ng-repeat="request in requests.slice(1, requests.length)">
            <td>{{ request.user }}</td>
            <td>{{ request.move_time }}</td>
            <td><p class="btn btn-success">Apply</p>
            </td>
        </tbody>
    </table>
    <select class="form-control" id="timeSelect" title="Move time"
            ng-model="moveTime">
        <option value="" selected disabled>Move time</option>
        <option>30</option>
        <option>60</option>
        <option>90</option>
    </select>
    <button class="btn btn-success" ng-click="addRequest()">Add me!</button>
</div>
