<!doctype html>
<html lang="en" ng-app="App">
<head>
    <meta charset="utf-8">
    <title>WordsPlay</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/flags.css">


    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/angular/angular-resource.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>

    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Brand" style="width: 50px"
                     src="/static/img/LogoMakr-mini-inversed.png">
            </a>
        </div>
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="loggedIn"><a href="/login">Sing In</a></li>
                <li ng-show="loggedIn"><a href="/quit">Exit</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container page">
    <div id="content" class="container main" ng-view>
    </div>
    <hr>
    <footer id="footer" class="footer">
        <div class="footer-right">
            <span>&copy; 2016 WordsPlay</span>
        </div>
    </footer>
</div>
</body>
</html>