<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Start!</title>
    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/angular/angular-resource.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div>
    <div class="container"
         style="max-width:300px;margin:160px auto;text-align: center;">
        <div class="form-group">
            <label>Let`s get started!</label>
            <input id="name" class="form-control" placeholder="Enter name">
        </div>
        <button onclick="start()" class="btn btn-success">Start!</button>
    </div>
</div>
</body>
</html>